<div class="jumbotron">
  <img src="<%= static_path(@conn, "/images/lightbulb.png") %>">
  <h3>Please Log In</h3>
  <label for="email">Email</label><br>
  <input type="text" name="email"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"><br><br>
  <input type="submit" name="submit" value="Submit">
</div>
